<h1>Welcome <%=session[:user_id]%></h1>

<h3>choose your course </h3>

<%=form_with url: users_course_index_path do |f|%>
    
    
    <%=f.label :user_id%>
    
    <%=f.hidden_field :user_id, value: session[:user_id] %>

    <%=f.collection_select :course_id, Course.all, :id, :name%><br>
    <%=f.submit "Apply"%>
<%end%>