<div class="container text-center">
<h1>Welcome <%=current_user.username%></h1>

<h2>choose your course </h2>

<%=form_with url: users_course_index_path do |f|%>
    
    
    <%=f.label :user_id%>
    
    <%=f.hidden_field :user_id, value: session[:user_id] %>

    <%=f.collection_select :course_id, Course.all, :id, :name%><br>
    <%=f.submit "Apply"%>
<%end%>
</div>