<h1>Sign up for access to all things cheese!</h1>
<%= form_with url: "/signup" do |f| %>
  Username : <%= f.text_field :username %>
  Email : <%= f.email_field :email %>
  Password : <%= f.password_field :password %>
  Password Confirmation : <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>
<% end %> 