<div class="container text-center">


    <div class="row">
    <%@courses.each do |course|%>
        
            <div class="col"><strong><%=course.name%></strong><%=button_to "Apply", new_users_course_path, method: "get" %>
            <img src=<%=course.image%> alt='making a mozzarella' width=250px %></div><br>
            <div class="container-sm pt-3 my-3 border"><%=course.description%></div>
            <%end%><br>
            
    
    



   <!--<%=link_to "create a course", new_course_path(@course)%>-->

</div>
    