<h1>All our courses</h1>

<%@courses.each do |course|%>
    <div><%=course.name%> <%=button_to "Apply", new_users_course_path, method: "get" %></div>
    <div><img src=<%=course.image%> alt='making a mozzarella' width=250px %></div>
    <div><%=course.description%></div>
   
    <%end%>
<br>


    <%=link_to "create a course", new_course_path(@course)%>


    